* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

#content {
    min-width: 400px;
    max-width: 100%;
    margin: auto;
}

#game, #loby{
    margin: auto;
    display: block;
}

.gameListing {
    display: block;
    background: #aaa;
    margin: 5px;
    padding: 5px;
}

#side, #main {
    margin: auto;
    display: block;
    min-height: 400px;
    height: calc( 100vh - 5em );
    overflow: hidden;
}
#main {
    width: 75%;
    float: left;
}

#lobby, #side {
    overflow-y: auto;
}
#side {
    width: 25%;
    float: right;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #aaa;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #666;
}

form {
    background: #111111;
    padding: 3px;
    width: 100%;
}

form#user {
    width: 50%;
    margin: auto;
    vertical-align: middle;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .7%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

body {
    background: #808080;
}